div.buttons {
  display: grid;
  justify-items: start;

  > .right {
    justify-self: end;
  }
}

.tokenize-choices > form {
  display: contents;

  > button.choice {
    display: flex;

    border: 0;
    padding: 0;

    --skip-shade: #00000044;

    > span {
      padding: 0.5em 0.25em;

      &:nth-child(1) {
        padding-left: 0.5em;
      }

      &:not(:nth-child(1)) {
        background-color: var(--skip-shade);
      }
    }

    &.skip {
      > span:nth-child(1) {
        background-color: var(--skip-shade);
      }
    }
  }
}

.char-in-ctx {
  font-size: 2em;
  > .current {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-style: wavy;
  }
}
